[theme="first"]{
	--mainBackground:hsl(222, 26%, 31%);
	--toggleKeypadBackground:hsl(223, 31%, 20%);
	--screenBackground:hsl(224, 36%, 15%);
	--keyBackgroundBlue:hsl(225, 21%, 49%);
	--keyShadowBlue:hsl(224, 28%, 35%);
	--keyBackgroundToggle:hsl(6, 63%, 50%);
	--keyShadowRed:hsl(6, 70%, 34%);
	--keyBackgroundOrange:hsl(30, 25%, 89%);
	--keyShadowOrange:hsl(28, 16%, 65%);
	--textGrayishBlue:hsl(221, 14%, 31%);
	--white:#fff;
}
[theme="second"]{
	--mainBackground:hsl(0, 0%, 90%);
	--toggleKeypadBackground:hsl(0, 5%, 81%);
	--screenBackground:hsl(0, 0%, 93%);
	--keyBackgroundBlue:hsl(185, 42%, 37%);
	--keyShadowBlue:hsl(185, 58%, 25%);
	--keyBackgroundToggle:hsl(25, 98%, 40%);
	--keyShadowRed:hsl(25, 99%, 27%);
	--keyBackgroundOrange:hsl(45, 7%, 89%);
	--keyShadowOrange:hsl(35, 11%, 61%);
	--textGrayishBlue:hsl(60, 10%, 19%);
	--white:hsl(60, 10%, 19%);
}
[theme="third"]{
	--mainBackground:hsl(268, 75%, 9%);
	--toggleKeypadBackground:hsl(268, 71%, 12%);
	--keyBackgroundBlue:hsl(281, 89%, 26%);
	--keyShadowBlue:hsl(285, 91%, 52%);
	--keyBackgroundToggle:hsl(176, 100%, 44%);
	--keyShadowRed:hsl(177, 92%, 70%);
	--keyBackgroundOrange:hsl(268, 47%, 21%);
	--keyShadowOrange:hsl(290, 70%, 36%);
	--textGrayishBlue:hsl(198, 20%, 13%);
	--yellowTxt:hsl(52, 100%, 62%);
	--white:hsl(0, 0, 100%);
}